<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zad 1</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    Programowanie
    <div>
    <input type="button" name="button1" value="click me"
           onClick="alert('hello world')" />
    </div>

<div><br /><br />
    <input type="button" name="button2" value="rest test"
        onClick="wywolaj()">
    <div id="mojePole"></div>
</div>
</body>
</html>